ion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    text-align: center;
}
ion-input, ion-label {
    text-align: center;
    margin: auto;
}
.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    width: 200px;
    height: auto;
    margin: auto;
}
.logo-con {
    width: 100%;
}
